@import "../../index.css";
@import "./topicStyles.css";

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: auto;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden !important;
}


.projectContainer {
  width: 100% !important;
  max-width: 1100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden !important;
}

.projectPreview {
  overflow: hidden !important;
  position: relative;
  flex: 0 0 calc(50% - 40px);
  max-width: calc(50% - 40px);
  margin-right: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
  padding: 20px;
  cursor: default;
  box-sizing: border-box;
  background-color: #c1c1c13d;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  height: 600px;
  opacity: 1;
  transition: scale 250ms ease, opacity 0.6s ease-out, background-color 100ms ease-out, box-shadow 100ms ease-out;
}

.projectPreview:hover {
  scale: 99.6%;
}

.projectPreview::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.projectPreview>div {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden !important;
}

.projectPreview:last-child {
  margin-right: 0 !important;
  overflow: hidden !important;
}

.projectPreview,
a {
  color: var(--text-color);
  overflow: hidden !important;
}

a {
  text-decoration: none;
  color: default;
  overflow: hidden !important;
}

.projectPreview h2 {
  margin-top: 0;
  overflow: hidden !important;
}

.projectTitle {
  margin-bottom: 10px;
  overflow: hidden !important;
}

.projectPreview p {
  margin-bottom: 5px;
  overflow: hidden !important;
}

.separator {
  position: relative;
  width: 3px;
  height: 15px;
  background: var(--accent-color);
  margin: 0 5px 0 5px;
  padding: 0;
  transform: translateY(-3px);
  overflow: hidden !important;
}

.description {
  flex-grow: 1;
  overflow: auto;
  overflow: hidden !important;
}

.languagesLinksContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  overflow: hidden !important;
}

.languagesLinksContainerLeft {
  width: 350%;
  overflow: hidden !important;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden !important;
}

.readMoreButton {
  background-color: transparent;
  color: var(--read-more-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  overflow: hidden !important;
}

.readLessActive {
  color: var(--read-less-color);
  overflow: hidden !important;
}

.readFullProjectButton {
  background-color: #28a745;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  overflow: hidden !important;
}

.linkContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0;
  overflow: hidden !important;
}

.gitLink {
  text-decoration: none;
  color: rgb(193, 190, 190);
  font-size: .8rem;
  background: rgba(0, 0, 0, 0.2);
  padding: 0 5px 0 5px;
  margin-top: 15px;
  cursor: pointer;
  overflow: hidden !important;
}

.image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  scale: 1;
  margin-bottom: 10px;
  right: 0;
  border-radius: 15px 15px 7.5px 7.5px;
  overflow: hidden !important;
}

.fadeInVisible {
  opacity: 0;
  overflow: hidden !important;
}

.sourceCode {
  text-decoration: none;
  color: #e74c3c;
  overflow: hidden !important;
}

.sourceCode:hover {
  color: #9b3e34;
  overflow: hidden !important;
}

.visitSite {
  text-decoration: none;
  color: rgb(24, 136, 30);
  overflow: hidden !important;
}

.visitSite:hover {
  color: rgb(41, 179, 48);
}

.readFullProjectLink {
  text-decoration: none;
  color: rgb(34, 255, 0);
  overflow: hidden !important;
}

.readFullArticleButton {
  color: #3498db;
  margin: 0;
  cursor: pointer;
  overflow: hidden !important;
}

.readFullArticleButton:hover {
  color: #4fb0f1;
}

.hideProjects {
  background: var(--read-less-background);
  color: var(--button-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 auto;
}

.viewProjects {
  background: var(--button-background);
  color: var(--button-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 auto;
}


.buttonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 1100px) {
  .projectContainer {
    margin-left: 40px;
  }
}

@media (max-width: 835px) {
  .projectContainer {
    margin-left: 30px;
  }

  .projectPreview {
    overflow: hidden !important;
    position: relative;
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 20px;
    cursor: default;
    box-sizing: border-box;
    background-color: #c1c1c13d;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    height: 600px;
    opacity: 1;
    transition: scale 250ms ease, opacity 0.6s ease-out, background-color 100ms ease-out, box-shadow 100ms ease-out;
  }
}

@media (max-width: 738px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }

  .projects {
    margin-bottom: 70px;
    margin-top: 20px;
  }

  .projectContainer {
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }

  .projectPreview {
    flex: 1 1 auto;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
    height: auto;
    min-height: 300px;
  }

  .projectPreview>div {
    min-height: 100%;
  }

  .description {
    font-size: .9rem;
  }

  .topics {
    font-size: .9rem;
    width: 100%;
  }

  .dateContainer {
    display: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden !important;
  }

  .dateItem {
    font-size: .7rem;
    user-select: none;
    overflow: hidden !important;
  }

  .dateItem.started {
    color: rgb(142, 108, 20);
    overflow: hidden !important;
  }

  .dateItem.completed {
    color: rgb(142, 20, 142);
    overflow: hidden !important;
  }

  .dateItem.lastUpdated {
    color: rgb(20, 142, 138);
    overflow: hidden !important;
  }

  .separator {
    position: relative;
    width: 3px;
    height: 30px;
    background: var(--accent-color);
    margin: 0 5px 0 5px;
    padding: 0;
    transform: translateY(-3px);
    overflow: hidden !important;
  }

  .viewProjects {
    transform: translateY(0);
  }
}