.githubContainer {
    position: absolute;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    background: rgb(136, 136, 136);
    z-index: 1;
    cursor: pointer;
    top: 500px;
    right: 8%;
}

.fixed {
    position: fixed;
    transform: translateY(-445px);
    /* Adjust this value based on your requirements */
}

/* ... rest of your styles */

.githubLink {
    width: 30px;
    z-index: 1000;
}

.githubSvg {
    fill: #818181;
    stroke: rgb(255, 255, 255);

}

@media screen and (max-width: 1466px) {
    .githubContainer {
        display: none;
    }
}

@media screen and (min-width: 14680px) {
    .githubContainer {
        display: none;
    }
}