@import '../../index.css';

.container {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 80px;
    max-width: var(--max-width);
    overflow: hidden;
    transition: opacity 0.3s ease-out;
    cursor: default;
    user-select: none;
}

.title {
    font-size: 48px;
    text-align: center;
    padding-bottom: 10px;
    user-select: none;
}

.contentSection {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}



.sectionTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    visibility: visible;
}

.frameworkTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10px;
}

.skillsList {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
}

.skillsList li {
    font-size: 1rem;
    margin-bottom: 8px;
    padding-left: 20px;
    position: relative;
    overflow-y: hidden;
}

.skillsList li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2rem;
}


.introParagraph {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
}

.divider {
    margin-top: 10px;
    height: 2px;
    background-color: #4c95af;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.strong {
    display: inline-block;
    background: linear-gradient(45deg, #4ca5af, #52b6c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    padding: 0 5px;
    border-radius: 4px;
    transition: transform 0.3s ease;
    transform: translateY(5px);
}

.strong:hover {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.goals {
    animation: colorChange 8s linear infinite;
    animation-fill-mode: forwards;
    box-shadow: inset 1px 1px 15px rgba(0, 0, 0, 0.05);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

@keyframes colorChange {
    0% {
        background-color: #fafafa;
    }

    25% {
        background-color: #f8f8f8;
    }

    50% {
        background-color: #f0f0f0;
    }

    75% {
        background-color: #f8f8f8;
    }

    100% {
        background-color: #fafafa;
    }
}



/* Responsive adjustments for mobile */
@media (max-width: 600px) {
    .goals {
        animation: none;
    }

    /* Title */
    .title {
        font-size: 1.75rem;
        /* Smaller font size on mobile */
        margin-bottom: 15px;
    }

    /* Container */
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* About Me Section */
    .contentSection {
        max-width: 100%;
        padding: 0 15px;
    }

    /* Section titles */
    .sectionTitle {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    /* Intro Paragraph */
    .introParagraph {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 15px;
        text-align: justify;
        padding: 0 10px;
    }

    /* Skills section adjustments */
    .skills {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /* Skills section content */
    .skillsSection {
        margin-bottom: 15px;
    }

    /* Skills list items */
    .skillsList {
        padding-left: 20px;
    }

    .skillsList li {
        font-size: 0.9rem;
        /* Slightly smaller text */
        margin-bottom: 10px;
    }

    /* Dividers */
    .divider {
        width: 60px;
        margin-bottom: 20px;
    }

    .goals {
        padding-bottom: 40px;
    }
}