.container {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 80px;
    max-width: 1100px;
    overflow: hidden;
    transition: opacity 0.3s ease-out; /* Smooth transition for opacity changes */
}

.title {
    font-size: 48px;
    text-align: center;
    padding-bottom: 10px;
    user-select: none;
}

.introParagraph {
    max-width: 1100px;
    text-align: left;
    line-height: 1.75;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 0 100px 0 100px;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    .title {
        font-size: .95rem;
        margin-bottom: 20px;
    }
    .introParagraph {
        font-size: calc(95%);
        padding: 0 0px 0 0px;

    }
    .container {
        max-width: 300px;

    }
    
}