@import '../../index.css';

.container {
    position: fixed;
    margin: 0;
    padding: 0;
    /* Stick to the top */
    top: 0;
    /* Make sure it sticks to the top */
    left: 0;
    z-index: 200;
    /* Ensure it's above other elements */
    width: 100%;
    max-width: 100vw;
    height: 54px;
    overflow: hidden;
    background: var(--nav-background);
    color: var(--nav-text-color);
    transition: background 0.333s ease, backdrop-filter 0.333s ease, position 0.333s ease;
    backdrop-filter: blur(0);
    /* Initial blur value */
}



.container.scrolled {
    position: fixed;
    background: rgba(238, 238, 238, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    /* Subtle blur when we scroll  */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.imageContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 150ms ease;
}

.imageContainer:hover {
    background-color: rgba(130, 130, 130, 0.15);
    border-radius: 3px;
}

.mugshotImageContainer {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    cursor: default;
}


.mugshotImage {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/mugshot_nav.jpeg');
    background-position: center;
    background-size: cover;
}

.mugshot {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    cursor: default;
}

.mugshotName {
    text-decoration: none;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    overflow-y: hidden;
}

.button {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-right: 15px;
    cursor: pointer;
    padding: 5px;
    transition: background-color 150ms ease;
}

.button:hover {
    background-color: rgba(130, 130, 130, 0.15);
    border-radius: 3px;
}

.active {
    background-color: rgba(169, 147, 181, 0.306);
    border-radius: 3px;
    transform: all 150ms ease;
    cursor: default;
}

.active:hover {
    background-color: transparent;
}

.toggleTheme {
    pointer-events: none;
}

@media (max-width: 600px) {
    .nav {
        display: flex;
        max-width: 600px;
        justify-content: space-between;
        align-items: center;
    }

    .mugshotImageContainer {
        width: 20px;
        height: 20px;
    }

    .mugshotName {
        font-size: .9rem;
    }

    .iconButton {
        display: none;
    }

}