@import '../../index.css';

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    max-width: 100vw;
    height: 54px;
    overflow: hidden;
    background: var(--nav-background);
    color: var(--nav-text-color);
    transition: background .333s ease, backdrop-filter .333s ease, position .333s ease;
    /* Add backdrop-filter transition */
    backdrop-filter: blur(0);
    /* Initial blur value */
}

.header.scrolled {
    position: fixed;
    background: rgba(43, 53, 58, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    /* Subtle blur when we scroll  */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.imageContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.mugshot {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    cursor: default;
}

.mugshotImageContainer {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    cursor: default;
}

.mugshotImage {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/mugshot.jpeg');
    background-position: center;
    background-size: cover;
}

.mugshotName {
    user-select: none;
}

.icon {
    width: 15px;
    margin-left: 25px;
    cursor: pointer;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    overflow-y: hidden;
}

.contactButton {

    border: none;
    cursor: pointer;
}

.contactButton:hover {
    color: #3498db;
}

@media (max-width: 600px) {
    .blogs {
        opacity: 1 !important;
        /* Override fade effect on small screens */
        transition: none !important;
        /* Disable transition effect on small screens */
    }

    .contactButton {
        margin-top: 5px;
    }

    .nav {
        display: flex;
        max-width: 600px;
        justify-content: space-between;
        align-items: center;
    }

    .mugshotImageContainer {
        width: 20px;
        height: 20px;
    }

    .contactButton {
        font-size: 1.15rem;
        font-weight: 600;
        height: 30px;
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    }

    .mugshotName {
        font-size: .9rem;
    }

    .iconButton {
        display: none;
    }

}