.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 1;
    transition: opacity 1s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading::before {
    content: '\20BF'; /* Bitcoin symbol */
    font-size: 5rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: yellow;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 1px 1px 10px black;
    transform: rotate(360deg);
    animation: spin .750s infinite ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
