@import "../../index.css";

.blogs {
  margin-top: var(--project-margin-top);
  padding: var(--project-padding);
  margin-bottom: 15px;
  opacity: 1;
  border-bottom: .5px solid black;
}

.title {
  font-size: 1.5rem;
}

.container {
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

.blogContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.blogPreview {
  position: relative;
  flex: 0 0 calc(50% - 20px);
  max-width: calc(50% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(204, 204, 204, 0.5);
  padding: 20px;
  cursor: pointer;
  box-sizing: border-box;
  height: 490px;
}

.blogPreview::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, rgba(96, 34, 111, 0.1) 0%, rgba(0, 0, 0, 0.05) 70%);
  z-index: 1;
  /* Ensure this is below the content */
  pointer-events: none;
  /* Ensure the overlay does not interfere with interactions */
}

.blogPreview:last-child {
  margin-right: 0;
  /* Remove right margin for the last element in each row */
}


.blogPreview h2 {
  margin-top: 0;
}

.blogPreview p {
  margin-bottom: 10px;
}

.readMoreButton {
  background-color: transparent;
  color: var(--read-more-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.readLessActive {
  color: var(--read-less-color);
}


.readFullArticleButton {
  background: var(--button-background);
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.date {
  color: var(--date-color);
  margin-top: 5px;
}


.topics {
  margin-bottom: 10px;
}

.topic {
  display: inline-block;
  margin-right: 5px;
  padding: 2px 5px;
  border-radius: 9px;
  user-select: none;
}

.topic.javascript {
  background-color: #f0db4f;
  /* Yellow */
  color: #000;
}

.topic.htmlcanvas {
  background-color: #f16529;
  /* Orange */
  color: #fff;
}

.topic.gamedev {
  background-color: #0095dd;
  /* Blue */
  color: #fff;
}

.topic.phaserthree {
  background-color: #ccc;
  color: rgb(0, 0, 0);
}

.topic.cryptocurrency {
  background-color: rgb(0, 255, 94);
  color: rgb(114, 0, 89);
}

.topic.apiintegration {
  background-color: antiquewhite;
  color: black;
}

.topic.webdevelopment {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 252, 255);
}

.topic.blockchain {
  background-color: #f16529;
  color: rgb(255, 255, 255);
}

.topic.smartcontracts {
  background-color: #dd9373;
  color: rgb(255, 255, 255);
}

.topic.decentralizedapplications {
  background-color: #29f1ae;
  color: rgb(111, 111, 111);
}

.topic.dappdevelopment {
  background-color: #790061;
  color: rgb(255, 255, 255);
}

.topic.markettrends {
  background-color: #00d22a;
  color: rgb(255, 255, 255);
}

.topic.solidity {
  background-color: palevioletred;
  color: white;
}

.topic.tutorial {
  background-color: rgb(112, 188, 216);
  color: white;
}

.topic.ethereum {
  background-color: white;
  color: blue;
}

.topic.ltwo {
  background-color: plum;
  color: white;
}

.topic.ai {
  background: pink;
  color: rgb(85, 22, 128);
}

.topic.tokenomics {
  background: green;
  color: rgb(232, 209, 209);
}

.topic.rwa {
  background: blue;
  color: rgb(255, 255, 255);
}

.topic.privacy {
  background: red;
  color: white;
}

.topic.scalability {
  background: lime;
  color: black;
}

.topic.zkProofs {
  background: royalblue;
  color: white;
}

.topic.cryptography {
  background: crimson;
  color: #FFF;
}

.topic.defi {
  background: pink;
  color: white;
}

.topic.finance {
  background: green;
  color: rgb(210, 209, 209);
}

.topic.decentralization {
  background: radial-gradient(circle at center, rgb(238, 238, 238) 10%, rgb(204, 174, 241) 90%);
}

.topic.amm {
  background: rgb(0, 242, 255);
}

.topic.dapp {
  background: rgb(255, 187, 0);
}

.topic.web3 {
  background: rgb(49, 255, 107);
}

.topic.bitcoinEtf {
  background: #0a002e;
  color: white;
}

.topic.marketAnalysis {
  background: #ffc8f4;
}

.image {
  width: 100%;
  max-height: 200px;
  /* Adjust this as needed */
  object-fit: cover;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
    /* Allow the container to use full width */
    padding: 0 10px;
    /* Optional: Add some padding for better spacing on smaller screens */
    margin: 0 auto;
  }

  .blogs {
    margin-bottom: 70px;
    margin-top: 20px;
  }

  .blogContainer {
    flex-direction: column;
    /* Stack blog previews vertically */
    max-width: 300px;
    margin: 0 auto;
  }

  .blogPreview {
    flex: 1 1 auto;
    /* Allow items to grow and shrink as needed */
    max-width: 100%;
    /* Ensure items take up full width of the container */
    margin-right: 0;
    /* Remove right margin */
    margin-bottom: 20px;
    /* Keep space between items */
    box-sizing: border-box;
    /* Ensure padding and border are included in width/height calculations */
    height: auto;
  }

  .description {
    font-size: .9rem;
  }

  .topics {
    font-size: .9rem;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.viewBlogs {
  background: var(--button-background);
  color: var(--button-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 auto;
}

.hideBlogs {
  background: var(--read-less-background);
  color: var(--button-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 auto;
}

.fullBlog {
  position: fixed;
  top: -100vh;
  /* Start off the screen */
  left: 0;
  width: 100%;
  transition: top 1s ease-out;
  /* Smooth transition */
  z-index: 9999;
  /* Make sure it’s on top */
  background: white;
  /* Adjust background as needed */
}

.fullBlog.open {
  top: 0;
  /* Move to the top of the screen */
}