.container {
    margin-top: 54px;
}

.bannerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canvasContainer {
    width: 100%;
    max-width: 1200px;
    height: 250px;
    border-radius: 25px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.058);
    overflow: hidden;
}

.mugshotContainer {
    width: 150px;
    height: 150px;
    z-index: 1;
    position: absolute;
    margin-top: 250px;
    opacity: 1;
}


/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    .canvasContainer {
        max-width: 300px;
    }
    .mugshotContainer {
        width: 125px;
        height: 125px;
    }
}